// Custom theme styling.

.block-language ul {
	list-style: none;
	margin-bottom: 0;
	li {
		padding: 0.5rem;
	}
	li.is-active {
		display: none;
	}
}

nav h3 {
	font-size: $h5-font-size;
}

.block-system-main-block {
	margin-bottom: 2rem;
}

#views-bootstrap-media-block-1 {
	div:first-child {
		margin-bottom: 0.75rem;
	}
}

footer.site-footer {
	nav {
		margin-bottom: 2rem;
	}
}

.region-footer-top,
.region-footer-bottom,
.region-breadcrumb {
	padding: $region-padding;
}

footer .region-footer {
	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
footer .region-footer-bottom {
	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

//Responsive-menu
.mm-wrapper_opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical {
	margin-left: 0;
}

.mm-wrapper_opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page {
	padding-left: 240px;
	padding-left: 15rem;
}

.horizontal-menu {
	--bs-nav-link-padding-x: 0;
	--bs-nav-link-padding-y: 0.5rem;
	--bs-nav-link-font-weight: 400;
	--bs-nav-link-color: var(--bs-navbar-color);
	--bs-nav-link-hover-color: var(--bs-navbar-hover-color);
	--bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
	display: none;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	@include media-breakpoint-up(md) {
		display: flex;
	}
}

.horizontal-menu > li {
	display: inline-block;
	position: relative;
	padding-top: 0;
}

.horizontal-menu > li ul ul {
	left: 13.75em;
	top: 0;
}

.horizontal-menu ul .fly-left ul {
	left: -13.75em;
}

.horizontal-menu > li > a {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: block;
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
	font-size: var(--bs-nav-link-font-size);
	font-weight: var(--bs-nav-link-font-weight);
	color: var(--bs-nav-link-color);
	text-decoration: none;
	background: none;
	border: 0;
	@include media-breakpoint-up(md) {
		padding-right: var(--bs-navbar-nav-link-padding-x);
		padding-left: var(--bs-navbar-nav-link-padding-x);
	}
	&:hover {
		color: var(--bs-nav-link-hover-color);
	}
	&.is-active {
		color: var(--bs-navbar-active-color);
	}
}

.horizontal-menu > li ul {
	--bs-dropdown-zindex: 1000;
	--bs-dropdown-min-width: 10rem;
	--bs-dropdown-padding-x: 0;
	--bs-dropdown-padding-y: 0.5rem;
	--bs-dropdown-spacer: 0.125rem;
	--bs-dropdown-font-size: 1rem;
	--bs-dropdown-color: var(--bs-body-color);
	--bs-dropdown-bg: var(--bs-body-bg);
	--bs-dropdown-border-color: var(--bs-border-color-translucent);
	--bs-dropdown-border-radius: var(--bs-border-radius);
	--bs-dropdown-border-width: var(--bs-border-width);
	--bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
	--bs-dropdown-divider-bg: var(--bs-border-color-translucent);
	--bs-dropdown-divider-margin-y: 0.5rem;
	--bs-dropdown-box-shadow: var(--bs-box-shadow);
	--bs-dropdown-link-color: var(--bs-body-color);
	--bs-dropdown-link-hover-color: var(--bs-body-color);
	--bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
	--bs-dropdown-link-active-color: #fff;
	--bs-dropdown-link-active-bg: var(--bs-secondary);
	--bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
	--bs-dropdown-item-padding-x: 1rem;
	--bs-dropdown-item-padding-y: 0.25rem;
	--bs-dropdown-header-color: #6c757d;
	--bs-dropdown-header-padding-x: 1rem;
	--bs-dropdown-header-padding-y: 0.5rem;
	position: absolute;
	z-index: var(--bs-dropdown-zindex);
	display: none;
	min-width: var(--bs-dropdown-min-width);
	padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
	margin: 0;
	font-size: var(--bs-dropdown-font-size);
	color: var(--bs-dropdown-color);
	text-align: left;
	list-style: none;
	background-color: var(--bs-dropdown-bg);
	background-clip: padding-box;
	border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
}

.horizontal-menu li.sfHover > ul,
.horizontal-menu li:hover > ul {
	display: block;
}

.horizontal-menu li li {
	position: relative;
	float: left;
	width: 100%;
}

.horizontal-menu > li > li:hover > ul,
.horizontal-menu > li > li.sfHover > ul {
	display: block;
}

.horizontal-menu > li li > a {
	display: block;
	width: 100%;
	padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
	clear: both;
	font-weight: 400;
	color: var(--bs-dropdown-link-color);
	text-align: inherit;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	@include media-breakpoint-up(md) {
		padding-right: var(--bs-navbar-nav-link-padding-x);
		padding-left: var(--bs-navbar-nav-link-padding-x);
	}
	&:hover {
		color: var(--bs-dropdown-link-hover-color);
		background-color: var(--bs-dropdown-link-hover-bg);
	}
	&.is-active {
		color: var(--bs-dropdown-link-active-color);
		text-decoration: none;
		background-color: var(--bs-dropdown-link-active-bg);
	}
}

.menu-item--expanded.menu-item--active-trail a.sf-with-ul {
	color: var(--bs-dropdown-link-active-color);
}

.responsive-menu-toggle-icon {
	box-sizing: border-box;
	display: block;
	width: 42px;
	height: 48px;
	z-index: 4;
	margin-top: 0;
	position: relative;
	@include media-breakpoint-up(lg) {
		display: none;
	}
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
	background: var(--bs-navbar-color);
	content: '';
	display: block;
	width: 20px;
	height: 3px;
	position: absolute;
	top: 0;
	left: 13px;
}

.responsive-menu-toggle-icon:before {
	top: 18px;
}

.responsive-menu-toggle-icon span.icon {
	top: 24px;
}

.responsive-menu-toggle-icon:after {
	top: 30px;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
	transition: none 0.4s ease-out 0.1s;
	transition-property: -webkit-transform, top, bottom, left, opacity;
	transition-property: transform, top, bottom, left, opacity;
}

.mm-wrapper_opening .responsive-menu-toggle-icon:before,
.mm-wrapper_opening .responsive-menu-toggle-icon:after {
	top: 24px;
}

.mm-wrapper_opening .responsive-menu-toggle-icon span.icon {
	left: -25px;
	opacity: 0;
}

.mm-wrapper_opening .responsive-menu-toggle-icon:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mm-wrapper_opening .responsive-menu-toggle-icon:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

ul.menu.mm-listview a.is-active {
	color: inherit;
}

.mm-panel a:hover {
	border: none;
}

ul.menu.mm-listview {
	padding-left: 0;
	margin-left: 0;
}
//End Responsive-menu

//Parallax (Node image display)

.parallax {
	height: 500px;
	@include media-breakpoint-up(lg) {
		height: 600px;
	}
}
@supports ( -webkit-touch-callout : none) {
	.parallax {
		background-attachment:scroll
	}
}

@supports not ( -webkit-touch-callout : none) {
	.parallax {
		background-attachment: fixed;
	}
}
.parallax-caption { 
	padding: $spacer;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.3);
}
.parallax-caption-content {
	@include media-breakpoint-up(lg) {
		width: 100%;
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}